h1{
    position: absolute;
    padding: 13px;
    font-size: 3em;
    font-family: monospace;
}

sub{
    color: #353581;
    text-align: center;
}

.title-div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

footer p {
    font-size: 13px;
}