body{
    margin: 0px;
    background-color: grey;
}

.title-div{
    background-color: #353581;

}

h1{
    text-align: center;
    padding: 2px 0px 0px 0px;
    font-size: 3em;
    font-family: monospace;
    
}

#subtitle{
    position:static;
    text-align: center;
    padding: 10px;
    color: #253521;
    font-size: large;
}





footer p {
    font-size: 13px;
}